
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}

.project {
    margin-top: 30px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
