*{
    background-color: beige;
}
p{
    color:rgb(0, 0, 0);
    font-size: 500;                                                                                                                             
}            